<html>
	<head>
		<title>
			VIVO Searchlight
		</title>
		<link rel="stylesheet" href="/stylesheets/bar.css" type="text/css">
		<script src="/javascripts/bar_iframe.min.js" type="text/javascript" ></script>
	</head>
	<body>
		<div id="bar">
			<a id="home" href="http://vivosearchlight.org" title="VIVO Searchlight" target="_blank"><span id="logo">VIVO</span></a>
			<div id="close">
				<a id="close-button" href="#" title="Hide this bar">Hide</a>
			</div>
			<div id="content"></div>
		</div>
	</body>
</html>